@model eShop.Admin.Models.ProductListModel

@{
    ViewData["Title"] = "Products";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantuty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td>@item.Id</td>
            <td><img src="@item.ProductImage" width="50"></td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Quantuty </td>
            @*<td>@item.UnitName </td>*@
        </tr>
        }


    </tbody>
</table>
