@model List<eShop.Admin.Models.ProductModel>

@{
    ViewData["Title"] = "Products";
}


<div style="float: right; padding-bottom: 6px;">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus-square"></i>
        დამატება
    </button>

    @*<a class="btn btn-primary" href="#">
            <i class="fas fa-plus-square"></i>
            დამატება
        </a>*@

</div>

<div class="dataTables_scroll" style="text-align:center;">

    <div class="dataTables_scrollBody">
        <table class="table table-bordered table-hover table-striped dataTable no-footer" id="productTable">

            <thead>
                <tr role="row">
                    <th>ID</th>
                    <th>სურათი</th>
                    <th>დასახელება</th>
                    <th>ფასი</th>
                    <th>რაოდენობა</th>
                    <th>რედაქტირება/წაშლა</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><img src="../upload/@item.ProductImage" width="100"></td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Quantuty </td>

                        <td class="button-column" style=" vertical-align: middle !important;">

                            <a class="btn btn-outline-dark" href="Edit/1">
                                <i class="fas fa-pencil-alt"></i>&nbspშეცვლა
                            </a>

                            <button type="button" class="btn btn-danger product-button" onclick="test('@item.Id')" id="@item.Id" data-toggle="modal" data-productID="@item.Id" data-productName="@item.Name" data-target="#delete-selected-action-confirmation" name="">
                                <i class="far fa-trash-alt"></i>
                                წაშლა
                            </button>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete-selected-action-confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">მონაცემის წაშლა</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-delete-body" style="margin-left: 30px; ">
                <p><span class="text-danger">ID: &nbsp;</span><span id="productIDp"></span></p>
                <p><span class="text-danger">Name: &nbsp;</span><span id="productNamep"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">გაუქმება</button>
                <button type="button" id="delete-selected" class="btn btn-danger">წაშლა</button>
            </div>
        </div>
    </div>
</div>

<!--AddProduct-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">პროდუქტის დამატება</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  method="post"  enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" id="Name" placeholder="პროდუქტის დასახელება" />
                    </div>


                    <div class="form-group">
                        <input class="form-control" id="Price" placeholder="ფასი" />
                    </div>


                    <div class="form-group">
                        <input class="form-control" id="Quantuty" placeholder="რაოდენობა" />
                    </div>


                    <div class="form-group">
                        <input class="form-control" id="Description" placeholder="აღწერა" />
                    </div>

                    @*<div class="form-group">
                        <input class="form-control" id="Img" placeholder="სურათის ლინკი" />
                    </div>*@
                    <div class="form-group">
                        <input type="file" multiple required class="form-control" id="ImgFile" placeholder="სურათის ლინკი" />
                    </div>

                    <div class="form-group" id="Error" style="color:red;">
                    </div>

                    @*<div class="form-group">
        <input class="form-control" type="file" id="Img" />
        </div>*@


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">დახურვა</button>
                <button type="button" id="save" data-dismiss="modal" class="btn btn-primary">შენახვა</button>
            </div>

        </div>
    </div>
</div>
<script src="~/js/ProductCreate.js"></script>
<script src="~/js/ProductDelete.js"></script>
